body{
    padding-bottom: 50px;
}
.grid-p{
    color: white;
}
.picture{
    padding: 10px;
}

.image{
    height: 250px;
    background: midnightblue;
}

.poke{
    font-weight: bold;
}

.chaser{
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    position: relative;
    transition: 1s;
}

.runner{
    width: 50px;
    height: 50px;
    background: green;
    border-radius: 50%;
    position: relative;
    transition: 1s;
}

.box{
    border: 1px solid grey;
    height: 350px;
}
.box2{
    border: 1px solid grey;
    height: 350px;
}

.carouselContainer{
    background-image: url('images/mountainwpaper.png');
    height: 400px;
    background-repeat: no-repeat;
}

.title{
    font-size: 1.5em;
    margin-top: 100px;
    margin-bottom: 20px;
}

.lightMode{
    background: rgb(245, 245, 245);
    color: rgb(10, 10, 10);
}

.darkMode{
    background: rgb(10, 10, 10);
    color: rgb(245, 245, 245);
}

.bigTitle{
    font-size: 2.5em;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.mode{
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 47px;
    height: 50px;
    width: 50px;
    border: 1px solid grey;
    border-radius: 50%;
}

.mode:hover{
    cursor: pointer;
}
#toolTip {
position: absolute;
}
